.app-main {
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* Background handled by body in index.css */
}

.resume-viewer-container {
    padding-top: 40px;
    /* Space for fixed toolbar */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}